#category {
     border: 1px solid darkgray;
     background-color: black;
     height: 50px;
     width: 100%;
     display:flex ;
     justify-content: space-around;
}
.return {
     border: 1px solid red;
     background: red;
     color: white;
     height: 50px;
     width: 15%;
     text-align: center;

} 
.button {
     border: 1px solid white;
     height: 30px;
     width: 8%;
     margin: auto;
     color: white;
     text-align: center;
      
}
#advertisement