.box{
    
    height: 200px;
    background-color: violet;
    margin: 10px;
}
.box1{
    
    height: 200px;
    background-color: white;
    margin-left: 10px;
    margin: 5px;
}
img{
    width: 100%;
    height: 100%;
}
.box1 p,h1{
    text-align: center;
    background-color: grey;
    margin: 8px;
    padding: 5px;
}
.box p 
{background-color: violet;}