         

#box1 {
    border: 1px solid white;
    height: 140px;
    width: 100%;
    display: inline-block;
    
    
}
.logo {
    border: 1px solid lightgray;
    height: 65px;
    width: 175;
    background-color: lightgray;
    color: white;
    text-align: center;
}
.search {
    border: 1px solid lightgray;
    height: 30px;
    background-color: grey;
    width: 240px; 
    text-align: center;    
    margin-left: 1260px;
    display: flex;
    justify-content: flex-end;
    color: white;
}
#p5 {
    border: 1px solid black;
    width: 100%;
    height: 40px;
}
.reng {
    border: 1px solid gray;
    height: 100%;
    width: 70px;
    background-color: gray;
}
.pages {
    border: 1px solid lightgray;
    height: 38px;
    width: 100%;
    background-color: lightgray;
    display: flex;
}
.p{
    border: 1px solid lightgray;
    height: 25px;
    width: 45px;
    background-color: lightgray;
    color: white;
    margin-left: 30px;
    margin-top: 3px;
}
#box2 {
    border: 1px solid white;
    height: 180px;
    width: 100%;
    background-color: lightgray;

}
.image {
    border: 1px solid lightgray;
    height: 100%;
    width: 1100px;
    background-color: lightgray;
    color:white;
    text-align: center;
    display: inline-block;

}
.banners {
    border: 1px solid white;
    height: 100%;
    width: 455  px;
    display: inline-block;
}
.b {
    border: 1px solid white;
    height: 24%;
    width: 392px;
    text-align: center;
    color: white;
    
}
#box3 {
    border: 1px solid white;
    height: 300px;
    width: 69%;
    display: flex;
}
.news1 {
    border: 1px solid white;
    height: 100%;
    width: 1000px;
    
}
.writting {
    border: 1px solid white;
    height: 120px;
    width: 100%;
    
    
}
.y {
    border: 1px solid gray;
    height: 20px;
    width: 100%;
    background-color: gray;
    color: white;
    
}
.main {
    border: 1px solid white;
    height: 80px;
    width: 1000px;
    background-color: gray;

}
.pictures {
    border: 1px solid white;
    width: 1000px;
    height: 94px;
    display: flex;
    justify-content: space-between;

}
.i1 {
    border: 1px solid lightgray;
    width: 220px;
    height: 94px;
    background-color: lightgray;
    color: white;
    align-content: center;
    display: inline-block;
}
.news2 {
    border: 1px solid white;
    height: 300px;
    width: 29%;
    display: flex;
    
}
.images {
    border: 1px solid white;
    height: 300px;
    width: 170px;
    background-color: gray;
    
}
.i2 {
    border: 1px solid grey;
    height: 98.6px;
    width: 170px; 
    background-color: grey;
    color: white;
    text-align: center;
}
.letters {
    border: 1px solid lightgray;
    height: 300px;
    width: 350px;
    background-color: lightgray;
}
.w1 {
    border: 1px solid lightgray ;
    height: 98.6px;
    width: 325px; ;
    color: white;
    background-color: lightgray;

}
#box4 {
    border: 1px solid black;
    height: 120px;
    width: 100%;
    background-color: lightgrey;
    display: flex;
}
.account {
    border: 1px solid lightgray;
    height: 120px;
    width: 800px;
    background-color: LIGHTgrey;
    
}
.name {
    border: 1px solid grey;
    height: 40px;
    width: 200px;
    background-color: grey;
    color: white;
    text-align: center;
}
.email {
    border: 1px soli grey;
    height: 40px;
    width: 200px;
    background-color: grey;
    color: white;
    text-align: center;
}
.empty {
    border: 1px solid grey;
    height: 35px;
    width: 100px;
    background-color: grey;
    margin-left: 100px;
    
    
    
}
.sm {
    border: 1px solid black;
    height: 120px;
    width: 600px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}  
.s {
    border: 1px solid black;
    background-color: grey;
    color: white;
    text-align: center;
    height: 60px;
    width: 50px;
     
}