* {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

$main-color: #458FF6;
$p-color:#7D7987;

body {
    list-style: none;

    #x-top-bar{
        .container {
            margin-top: 4%;
    
            .row {
                .col-4{
                    margin-top: 30px;
                    width: 3px;
                    margin-left: -5px;
                    .cric{
                        .cricle{
                            width: 10px;
                            height: 10px;
                            border-radius: 8px;
                            background-color: #93C1F9;
                            opacity: 0.3;
                            margin-top: 16px;
                        }
                    }
                }
                .col-6 {
                    .buttons {
                        margin-top: 6%;
    
                        ul {
                            display: flex;
                            justify-content: space-around;
    
                            li {
                                a {
                                    font-size: 22px;
                                    font-weight: 400;
                                    text-decoration: none;
                                    color: #1F1534;
                                    opacity: 0.5;
    
                                    &:hover {
                                        border-bottom: 4px solid $main-color;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
    
                    .nav-bar_name{
                        width: 100%;
    
                        .name_logo {
                            width: 90%;
                            display: flex;
    
                            .logo_T {
                                border-radius: 100px;
                                padding: 2%;
                                height: 60px;
                                margin-top: 2%;
                                background-color: $main-color;
    
                                h1 {
                                    margin-top: -50%;
                                    color: white;
                                    font-size: 53px;
    
                                }
                            }
    
                            .logo_text {
                                margin-top: 2%;
                                padding: 2%;
                                padding-left: 4%;
    
                                h1 {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
    }

        // .col-6 {
        //     .buttons{
        //         margin-top: 6%;
        //         ul{
        //             display: flex;
        //             justify-content: space-around;
        //             li{
        //                 a{
        //                     font-size: 22px;
        //                     font-weight: 400;
        //                     text-decoration: none;
        //                     color: black;
        //                     &:hover{
        //                         color:  $main-color;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }

    #virtual {
        margin-top: -3%;
        .container {
            .row {
                .col-6 {
                        h1 {
                            margin-top: 15%;
                            font-size: 48px;
                            font-weight: 700;
                            line-height: 56px;
                        }
                        p {
                            margin-top: 2%;
                            color: $p-color;

                        }

                    .row {
                        .virtual_consult {
                            margin-left: 1%;
                            padding: 2%;
                            border-radius: 20px;
                            margin-top: 5%;
                            width: 25%;
                            text-align: center;
                            background-color: $main-color;

                            a {
                                text-decoration: none;
                                color: white;

                                &:hover {
                                    box-shadow: 0px 0px 0px 3px #1964F6;
                                }
                            }
                        }
                    }
                    img{
                        width: 693px;
                        height: 598px;
                        
                    }
                }
            }
        }
    }

    #services {     
        margin-top: 12%;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 36px;
        }

        p {
            font-weight: 300;
            font-size: 18px;
            margin-top: 5%;
        }

        .services_line {
            margin-top: 3%;
            margin-left: 48%;
            width: 56px;
            height: 2px;
            background-color: black;
        }

        .container {
            .row {
                .col-4 {
                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        margin-left: 3%;
                    }

                    p {
                        margin-left: 30%;
                        text-align: start;
                        font-weight: 300;
                        font-size: 16px;
                        color: #7D7987;
                    }

                    img {
                        margin-left: -100px;
                    }

                }

                .services_learn {
                    width: 100%;
                    
                    a {
                        text-decoration: none;
                        list-style: none;
                        border: $main-color 2px solid;
                        border-radius: 20px;
                        padding: 11px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    #leading {
        margin-top: 8%;
        .container {
            .row {
                .col-6 {
                    h1 {
                        margin-top: 15%;
                        font-size: 48px;
                        font-weight: 700;
                        margin-left: 20%;
                    }

                    p {
                        margin-left: 20%;
                        margin-top: 5%;
                        color: $p-color;

                    }

                    .leading_learn {
                        list-style: none;
                        margin-left: 20%;
                        padding: 2%;
                        border-radius: 20px;
                        margin-top: 6%;
                        width: 25%;
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: $main-color;
                            border: $main-color 2px solid;
                            padding: 6%;
                            border-radius: 20px;

                        }
                    }
                }
            }
        }
    }

    #download {
        margin-top: 18%;

        .container {
            .row {
                .col-6 {
                    h1 {
                        margin-top: 15%;
                        font-size: 48px;
                        font-weight: 700;
                        margin-left: 20%;
                    }

                    .download_line {
                        border: 1px solid black;
                        height: 4px;
                        background-color: black;
                        border-radius: 20px;
                        margin-top: 30px;
                        margin-left: 125px;
                        width: 8%;
                    }

                    p {
                        margin-left: 20%;
                        margin-top: 5%;
                        color: $p-color;

                        &:hover {
                            border-bottom: 3px solid $main-color;
                        }

                    }

                    .download_download {
                        margin-left: 15%;
                        padding: 2%;
                        border-radius: 20px;
                        width: 25%;
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: $main-color;
                            border: $main-color 2px solid;
                            padding: 6%;
                            border-radius: 20px;

                        }
                    }
                }
            }
        }
    }

    #about {
        margin-top: 8%;
        .container {
            text-align: center;
            color: white;
            background-color: $main-color;
            border-radius: 40px;
            height: 400px;

            h1 {
                padding: 4%;
                font-size: 36px;
                font-weight: 700;
                line-height: 48px;
            }

            .about_line {
                margin-top: -3%;
                margin-left: 47%;
                background-color: white;
                width: 5%;
                height: 3px;
            }

            .row {
                margin-top: 5%;

                .col-6 {
                    .about_person {
                        display: flex;

                        .about_picture {
                            border: 5px solid white;
                            border-radius: 500px;
                            margin-top: -40px;
                            margin-left: 22%;


                            img {

                                background-image: cover;
                                border-radius: 500px;
                                height: 160px;
                                width: 160px;
                            }
                        }

                        .about_name {
                            padding-left: 20%;
                            text-align: start;

                            // margin-left: 20%;
                            h3 {

                                font-weight: 700;
                                font-size: 22px;
                                line-height: 48px;
                                color: rgba(255, 255, 255, 1);
                            }

                            p {

                                line-height: 30px;
                                font-size: 19px;
                                font-weight: 400;
                                color: rgba(255, 255, 255, 0.9);
                            }
                        }
                    }
                }
            }
        }

        .about_button {
            margin-left: 43%;
            width: 12%;
            height: 30px;
            display: flex;
            justify-content: space-around;

            i {
                margin-top: 20px;
                margin: 15%;
                color: #458FF6;
                opacity: 0.3;

                &:hover {
                    color: black;

                }

            }

            button {
                background-color: #5B9BF3;
                margin: 8%;
                border-radius: 10px;
                padding: 8%;
                opacity: 0.3;
                border: none;
            }
        }

    }

    #article {
        margin-top: 8%;
        .container {
            text-align: center;

            .article_line {
                margin-top: 3%;
                width: 56px;
                height: 2px;
                margin-left: 48%;
                background-color: black;

            }

            .row {
                margin-top: 3%;

                .col-4 {
                    .article_img {
                        width: 369px;
                        height: 246px;

                        img {
                            object-fit: cover;
                            width: 369px;
                            height: 246px;
                            border-radius: 5%;
                        }
                    }

                    h3 {
                        text-align: start;
                        font-size: 21px;
                        font-weight: 700;
                        line-height: 32px;
                        padding: 5%;
                    }

                    p {
                        text-align: start;
                        color: $p-color;
                        padding: 5%;
                        margin-top: -30px;
                    }

                    a {
                        text-decoration: none;
                        list-style: none;
                        margin-left: -68%;

                        &:hover {
                            border-bottom: 4px solid $main-color;
                            opacity: 1;
                        }
                    }
                }
            }

            .row {
                .col-12 {
                    .article_view {
                        list-style: none;

                        a {
                            border: 1px solid $main-color;
                            padding-left: 4%;
                            padding-right: 4%;
                            padding-top: 1%;
                            padding-bottom: 1%;
                            font-size: 18px;
                            line-height: 60px;
                            border-radius: 30px;
                            text-decoration: none;

                            &:hover {
                                border-bottom: 4px solid $main-color;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    #country {
        margin-top: 12%;
        background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
        color: white;
        height: 500px;
        .container {
            .row {
                margin-left: 5%;
                .col-3 {
                   .country_trafalgar{
                       display: flex;
                       margin-top: 3%;
                       padding-left: 3%;
                    h2{
                        border-radius: 30px;    
                        margin-top: 150px;
                        text-align: center;
                        width: 30px;
                        background-color: white; 
                        color: $main-color;
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 32.63px;
                    }
                    h3{ 
                        margin-left: 4%;
                        margin-top: 150px;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 30.12px;
                    }
                   }
                    p{
                        
                        width: 100%;
                        padding: 2%;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 28px;
                    }
                    h4 {
                        margin-left: 39%;
                        margin-top: 143px;
                        font-size: 20px;
                        line-height: 60px;
                        font-weight: 700;
                        padding: 1px;

                    }

                    .country_right{
                        margin-top: -6%;
                        margin-left: 40%;
                        a {
                            // margin-left: 5%;
                            text-decoration: none;
                            color: white;
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 38px;
                            list-style: none;
    
                        }
                    }
                }
            }
            .row {
                .col-4{
                    margin-left: -60px;
                   width: 5px;
                    .cric{
                        .cricle{
                            width: 10px;
                            height: 10px;
                            border-radius: 8px;
                            background-color: navajowhite;
                            opacity: 0.2;
                            
                            margin-top: 16px;
                        }
                    }
                }
        }   }
    }
}