* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right,#60B7E2,#9A0FE8);
}

html {
    font-size: 10px;
    background-image: linear-gradient(to right,#60B7E2,#9A0FE8);
}

footer {
    background-image: linear-gradient(to right,#60B7E2,#9A0FE8);
    padding-bottom: 8rem;
}

#layer {
    width: 74rem;
    margin-top: 5rem;
    background-color: #fff;
    width: 60rem;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    /* background-image: url(/photo/image.jpg); */
    object-fit: cover;
}

#contact {
    font-weight: 700;
    background: linear-gradient(to right,#60B7E2,#9A0FE8);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.box{
    padding-left: 4rem;
    padding-bottom: 1rem;
}

#mail {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #9A0FE8;
}

.box p {
    font-size: medium;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon i {
    border-radius: 50%;
    padding: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #60B7E2;
}

#fr{
    color: #4064AC;
}

#fr:hover{
    color: #9A0FE8;
}

#sc {
    color: #2464AD;
}

#sc:hover{
    color: #9A0FE8;
}

.th {
    color: #1C9CEA;
}

.icon i:hover{
    color: #9A0FE8;
}

#center {
    display: flex;
    justify-content: center;
}

.send {
    font-size: medium;
    height: 3rem;
    width: 8rem;
    border: none;
}

.send:hover {
    border: 1px solid #6A9DE3;
}

#name {
    width: 40%;
    margin: 1rem;
    height: 5rem;
    font-size: 1.5rem;
    align-items: flex-start;
    border: none;
    border-bottom: 1px solid #9A0FE8;
}

#name:focus{
    outline: none;
    border: none;
}

#message {
    width: 100%;
    border: none;
}

#message:focus{
    outline: none;
    border: none;
}

.large {
    width: 88%;
    margin: 1rem;
    height: 5rem;
    font-size: 1.5rem;
    align-items: flex-start;
    border: none;
    border-bottom: 1px solid #9A0FE8;
}

.large:focus{
    outline: none;
    border: none;
}

/* blogs */

#blogs {
    background-image: linear-gradient(to right,#60B7E2,#9A0FE8);
}

.head {
    font-size: 3rem;
    padding-bottom: 0.5rem;
    padding-left: 11rem;
}

.lines {
    display: flex;
    margin-left: 18rem;
    padding-bottom: 2rem;
}

.line {
    margin-left: 0.2rem;
    display: flex;
    width: 5rem;
    height: 0.5rem;
    background-color: #951EE7;
}

.hover {
    position: absolute;
    width: 100%;
    height: 30rem;
    /* z-index: 3; */
    background-color: black;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;

}

.hover i {
    font-size: 5rem;
    margin-left: 50%;
    margin-top: 30%;
    transform: translate(-50%);
}

#padding:hover .hover {
    opacity: 0.7;
}

#padding:hover {
    transform: translate(0px,-20px);
}

.blog {
    
    height: 30rem;
}

.tx {
    text-align: 1.5rem;
    width: 80%;
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.ima {
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.ima:hover {
    background-color: red;
}

.headings {
    text-decoration: none;
}
.heading{
    color: black;
    margin: 3%;
}

.heading:hover {
    color: #9A0FE8;
}

#padding {
    position: relative;
    padding: 0%;
    width: 31%;
    background-color: #fff;
    margin:1rem;
    height: 50rem;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);;
    transition: 0.5s;
}

#padding hr {
    width: 50%;
    height: 0.4rem;
    border: none;
    background:linear-gradient(to right,#60B7E2,#9A0FE8) ;
}

/* resume */

#resume {
    padding-bottom: 5rem;
}

.element {
    background-color: white;
    padding: 2rem;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
}

.fir {
    font-weight: 600;
    margin-bottom: 1.5rem;
    /* color: white; */
}

.p-fir {
    color: gray;
    font-size: 1.5rem;
}

.p-last {
    color: gray;
    font-size: medium;
}

.last {
    /* color: gray; */
}

.l-p {
    color: gray;
    font-size: medium;
}

.l {
    /* color: gray; */
}

.f {
    border-top: 4px solid #951EE7;
}

.s {
    border-top: 4px solid #4064AC;
    margin-top: 2rem;
}

.t {
    border-top: 4px solid #6A9DE3;
}

.lin {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 33%;
}

.c-1 {
    border: 1px solid #951EE7;
    background-color: #951EE7;
}

.c-2 {
    border: 1px solid #4064AC;
    background-color: #4064AC;
}

.c-3 {
    border: 1px solid #60B7E2;
    background-color: #60B7E2;
}

/*projects*/

/* .project {
    height: 50px;
    object-fit: cover;
} */

/* #projects1 {
    height: 20rem;
} */

.project2 {
    padding: 2rem;
    margin-left: 2rem;
}
.rig {
    width: 100%;
    margin-right: 15rem;
}

.lef{
    margin-left: 13rem;
    width: 100%;
}
.project2 img {
    
    object-fit: cover;
    width: 80%;
    height: 50rem;
}