* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-image: linear-gradient(to right,#60B7E2,#9A0FE8);
}
footer {
    background-image: linear-gradient(to right,#60B7E2,#9A0FE8);
}

#layer {
    width: 74rem;
    margin-top: 5rem;
    background-color: #fff;
    width: 60rem;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    /* background-image: url(/photo/image.jpg); */
    object-fit: cover;
}

#contact {
    font-weight: 700;
    background: linear-gradient(to right,#60B7E2,#9A0FE8);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.box{
    padding-left: 4rem;
    padding-bottom: 1rem;
}
#mail {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #9A0FE8;
}

.box p {
    font-size: medium;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon i {
    border-radius: 50%;
    padding: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #60B7E2;
}

#fr{
    color: #4064AC;
}

#fr:hover{
    color: #9A0FE8;
}

#sc {
    color: #2464AD;
}

#sc:hover{
    color: #9A0FE8;
}

.th {
    color: #1C9CEA;
}
.icon i:hover{
    color: #9A0FE8;
}

#center {
    display: flex;
    justify-content: center;
}

.send {
    font-size: medium;
    height: 3rem;
    width: 8rem;
    border: none;
}

.send:hover {
    border: 1px solid #6A9DE3;
}

#name {
    width: 40%;
    margin: 1rem;
    height: 5rem;
    font-size: 1.5rem;
    align-items: flex-start;
    border: none;
    border-bottom: 1px solid #9A0FE8;
}

#name:focus{
    outline: none;
    border: none;
}

#message {
    width: 100%;
    border: none;
}

#message:focus{
    outline: none;
    border: none;
}
.large {
    width: 88%;
    margin: 1rem;
    height: 5rem;
    font-size: 1.5rem;
    align-items: flex-start;
    border: none;
    border-bottom: 1px solid #9A0FE8;
}

.large:focus{
    outline: none;
    border: none;
}