* {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

body {
  list-style: none;
}

body .container {
  margin-top: 4%;
}

body .container .row .col-6 .buttons {
  margin-top: 6%;
}

body .container .row .col-6 .buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .row .col-6 .buttons ul li a {
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
}

body .container .row .col-6 .buttons ul li a:hover {
  border-bottom: 4px solid #458FF6;
  opacity: 1;
}

body .container .row .col-6 .nav-bar_name {
  width: 100%;
}

body .container .row .col-6 .nav-bar_name .name_logo {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .row .col-6 .nav-bar_name .name_logo .logo_T {
  border-radius: 100px;
  padding: 2%;
  height: 60px;
  margin-top: 2%;
  background-color: #458FF6;
}

body .container .row .col-6 .nav-bar_name .name_logo .logo_T h1 {
  margin-top: -50%;
  color: white;
  font-size: 53px;
}

body .container .row .col-6 .nav-bar_name .name_logo .logo_text {
  margin-top: 2%;
  padding: 2%;
  padding-left: 4%;
}

body .container .row .col-6 .nav-bar_name .name_logo .logo_text h1 {
  font-size: 40px;
}

body #virtual .container .row .col-6 h1 {
  margin-top: 15%;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

body #virtual .container .row .col-6 p {
  margin-top: 2%;
  color: #7D7987;
}

body #virtual .container .row .col-6 .row .virtual_consult {
  margin-left: 1%;
  padding: 2%;
  border-radius: 20px;
  margin-top: 5%;
  width: 25%;
  text-align: center;
  background-color: #458FF6;
}

body #virtual .container .row .col-6 .row .virtual_consult a {
  text-decoration: none;
  color: white;
}

body #virtual .container .row .col-6 .row .virtual_consult a:hover {
  -webkit-box-shadow: 0px 0px 0px 3px #1964F6;
          box-shadow: 0px 0px 0px 3px #1964F6;
}

body #virtual .container .row .col-6 img {
  width: 693px;
  height: 598px;
}

body #services {
  margin-top: 12%;
  text-align: center;
}

body #services h1 {
  font-weight: 700;
  font-size: 36px;
}

body #services p {
  font-weight: 300;
  font-size: 18px;
  margin-top: 5%;
}

body #services .services_line {
  margin-top: 3%;
  margin-left: 48%;
  width: 56px;
  height: 2px;
  background-color: black;
}

body #services .container .row .col-4 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 3%;
}

body #services .container .row .col-4 p {
  margin-left: 30%;
  text-align: start;
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
}

body #services .container .row .col-4 img {
  margin-left: -100px;
}

body #services .container .row .services_learn {
  width: 100%;
}

body #services .container .row .services_learn a {
  text-decoration: none;
  list-style: none;
  border: #458FF6 2px solid;
  border-radius: 20px;
  padding: 11px;
  font-size: 18px;
  font-weight: 700;
}

body #leading .container .row .col-6 h1 {
  margin-top: 15%;
  font-size: 48px;
  font-weight: 700;
  margin-left: 20%;
}

body #leading .container .row .col-6 p {
  margin-left: 20%;
  margin-top: 5%;
  color: #7D7987;
}

body #leading .container .row .col-6 .leading_learn {
  list-style: none;
  margin-left: 20%;
  padding: 2%;
  border-radius: 20px;
  margin-top: 6%;
  width: 25%;
  text-align: center;
}

body #leading .container .row .col-6 .leading_learn a {
  text-decoration: none;
  color: #458FF6;
  border: #458FF6 2px solid;
  padding: 6%;
  border-radius: 20px;
}

body #download {
  margin-top: 18%;
}

body #download .container .row .col-6 h1 {
  margin-top: 15%;
  font-size: 48px;
  font-weight: 700;
  margin-left: 20%;
}

body #download .container .row .col-6 .download_line {
  border: 1px solid black;
  height: 4px;
  background-color: black;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 125px;
  width: 8%;
}

body #download .container .row .col-6 p {
  margin-left: 20%;
  margin-top: 5%;
  color: #7D7987;
}

body #download .container .row .col-6 p:hover {
  border-bottom: 3px solid #458FF6;
}

body #download .container .row .col-6 .download_download {
  margin-left: 15%;
  padding: 2%;
  border-radius: 20px;
  width: 25%;
  text-align: center;
}

body #download .container .row .col-6 .download_download a {
  text-decoration: none;
  color: #458FF6;
  border: #458FF6 2px solid;
  padding: 6%;
  border-radius: 20px;
}

body #about .container {
  text-align: center;
  color: white;
  background-color: #458FF6;
  border-radius: 40px;
  height: 400px;
}

body #about .container h1 {
  padding: 4%;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

body #about .container .about_line {
  margin-top: -3%;
  margin-left: 47%;
  background-color: white;
  width: 5%;
  height: 3px;
}

body #about .container .row {
  margin-top: 5%;
}

body #about .container .row .col-6 .about_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #about .container .row .col-6 .about_person .about_picture {
  border: 5px solid white;
  border-radius: 500px;
  margin-top: -40px;
  margin-left: 22%;
}

body #about .container .row .col-6 .about_person .about_picture img {
  background-image: cover;
  border-radius: 500px;
  height: 160px;
  width: 160px;
}

body #about .container .row .col-6 .about_person .about_name {
  padding-left: 20%;
  text-align: start;
}

body #about .container .row .col-6 .about_person .about_name h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: white;
}

body #about .container .row .col-6 .about_person .about_name p {
  line-height: 30px;
  font-size: 19px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

body #about .about_button {
  margin-left: 43%;
  width: 12%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #about .about_button i {
  margin-top: 20px;
  margin: 15%;
  color: #458FF6;
  opacity: 0.3;
}

body #about .about_button i:hover {
  color: black;
}

body #about .about_button button {
  background-color: #5B9BF3;
  margin: 8%;
  border-radius: 10px;
  padding: 8%;
  opacity: 0.3;
  border: none;
}

body #article .container {
  text-align: center;
}

body #article .container .article_line {
  margin-top: 3%;
  width: 56px;
  height: 2px;
  margin-left: 48%;
  background-color: black;
}

body #article .container .row {
  margin-top: 3%;
}

body #article .container .row .col-4 .article_img {
  width: 369px;
  height: 246px;
}

body #article .container .row .col-4 .article_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 369px;
  height: 246px;
  border-radius: 5%;
}

body #article .container .row .col-4 h3 {
  text-align: start;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  padding: 5%;
}

body #article .container .row .col-4 p {
  text-align: start;
  color: #7D7987;
  padding: 5%;
  margin-top: -30px;
}

body #article .container .row .col-4 a {
  text-decoration: none;
  list-style: none;
  margin-left: -68%;
}

body #article .container .row .col-4 a:hover {
  border-bottom: 4px solid #458FF6;
  opacity: 1;
}

body #article .container .row .col-12 .article_view {
  list-style: none;
}

body #article .container .row .col-12 .article_view a {
  border: 1px solid #458FF6;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 18px;
  line-height: 60px;
  border-radius: 30px;
  text-decoration: none;
}

body #article .container .row .col-12 .article_view a:hover {
  border-bottom: 4px solid #458FF6;
  opacity: 1;
}

body #country {
  margin-top: 12%;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: white;
  height: 432px;
}

body #country .container .row {
  margin-left: 5%;
}

body #country .container .row .col-3 .country_trafalgar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  padding-left: 3%;
}

body #country .container .row .col-3 .country_trafalgar h2 {
  border-radius: 30px;
  margin-top: 150px;
  text-align: center;
  width: 30px;
  background-color: white;
  color: #458FF6;
  font-weight: 700;
  font-size: 26px;
  line-height: 32.63px;
}

body #country .container .row .col-3 .country_trafalgar h3 {
  margin-left: 4%;
  margin-top: 150px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.12px;
}

body #country .container .row .col-3 p {
  width: 100%;
  padding: 2%;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

body #country .container .row .col-3 h4 {
  margin-left: 39%;
  margin-top: 143px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  padding: 1px;
}

body #country .container .row .col-3 .country_right {
  margin-top: -6%;
  margin-left: 40%;
}

body #country .container .row .col-3 .country_right a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  list-style: none;
}
/*# sourceMappingURL=ChallangeWeek01.css.map */