<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xgusein</title>
    <link rel="stylesheet" href="/ProjectFrontEnd/layihe2/css/bootstrap.css">
    <link rel="stylesheet" href="/css2/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="contact.css">    
</head>
<body>
    <section id="x-top-bar">
        <div class="logo"><img src="http://themelooks.us/demo/jd/html/preview/img/logo.png" alt=""></div>
        <div class="buttons">
            <ul>
                <li>
                    <a href="">HOME</a>
                </li>
                <li>
                    <a href="#abt">ABOUT ME</a>
                </li>
                <li>
                    <a href="#portfolio">PORTFOLIO</a>
                </li>
                <li>
                    <a href="">SKILLS</a>
                </li>
                <li>
                    <a href="#news">BLOG</a>
                </li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
                <li class="item" id="pages">
                    <a href="#pages" class="btn">PAGES <i class="fas fa-sort-down"></i></a>
                    <div class="smenu">
                        <a href="/HOME PAGE">HOME PAGE</a>
                        <a href="BLOGE PAGE">BLOGE PAGE</a>
                        <a href="contact.html">CONTACT PAGE</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="frist"><img src="/ProjectFrontEnd/layihe2/images/aa.jpg" alt="">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="writ">
                        <h3>
                            <span class="hello">HOME /</span>
                            <span class="con">CONTACT</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
                    
    </section>
    <section id="fifth">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="co1" id="contact">CONTACT WITH ME</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="i-1">
                        <i class="fas fa-phone-alt"></i>
                        <h3>CALL ME</h3>
                        <p>(+123) 123 123456, (+123) 123 123456</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="i-1">
                        <i class="fas fa-map-marker-alt"></i>
                        <h3>VISIT ME</h3>
                        <p>123 Lorem St., Ismailia, Egypt</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="i-1">
                        <i class="far fa-envelope"></i>
                        <h3>SEND A MESSAGE</h3>
                        <p>john@example.com </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ss">
                    <h3>YOU CAN DROP ME A LINE HERE</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form">
                        <div class="label"></div>
                        <input type="text" placeholder="Name*">
    
                    </div>
                </div>
                <div class="col-4">
                    <div class="form">
                        <div class="label"></div>
                        <input type="text" placeholder="E-mail*">
    
                    </div>
                </div>
                <div class="col-4">
                    <div class="form">
                        <div class="label"></div>
                        <input type="text" placeholder="Subject*">
    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea name="" id="" cols="179" rows="5" placeholder="Messaage*"></textarea>
                </div>
            </div>
            <div class="row">
                <button class="send">SEND MESSAGE</button>
            </div>
        </div>
    </section>
    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 class="ss5">Copyright © 2017 <a href="" class="ssa">John Doe</a>. All Rights Reserved.</h5>
        </div>
    </section>

    
</body>
</html>
