
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to right, #60B7E2, #9A0FE8); */
    background: linear-gradient(-45deg,#EE7752,#E73C7E,#4731ee,#23D5AB);
    background-size: 400% 400%;
    cursor: none;
    position: relative;
    /* min-height: 100vh; */
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

html {
    font-size: 10px;
}

/*navbar*/

.btn {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
}

.btn span {
    width: 25px;
    height: 5px;
    background: #5237e9;
    display: flex;
    position: absolute;
    transition: .3s;
}

.btn span:nth-child(1) {
    top: 20%;
}

.btn span:nth-child(2){
    top: 80%;
}

.btn.is-active span {
    background: #000;
}

.btn.is-active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
}

.menu {
    background: rgba(180, 19, 180, 0.8);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    z-index: 1;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    
}

.menu.is-active {
    opacity: 1;
    visibility:visible;
    list-style: none;
}

.menu.is-active ul {
    list-style: none;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.or {
    margin-left: 400px;
    height: 75%;
    background-color: #46115A;
    width: 6px;
    border-radius: 10px;
}

.seki {
    border: 1px solid white;
    width: 200px;
    border-radius: 100px;
    margin-left: 100px;
    height: 200px;
    background-color: white;
    border: none;
    
}

.seki img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
}

.info1 {
    margin-left: 150px;
}
.inf {
    color: white;
}

.inf p {
    font-size: 20px;
    margin-top: 20px;
}

.inf h1 {
    margin-top: 40px;
    font-size: 30px;
}

.menu__list:not(:last-child) {
    margin-bottom: 30px;
}

.menu__link {
    list-style: none;
    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: 40px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link:hover {
    color: #2716A5;
}

.menu__link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 5px;
    display: inline-flex;
    background: #c5e600;
    transition: .3s;
}

.menu__link:hover:after {
    width: 100%;
}

/*header*/

header {
    font-family: 'Raleway', sans-serif;
     height: 80vh;
    background: #333 url(/projects/zaur_portfoli/photo/design-ge56760357_1920.jpg) no-repeat center center / cover;
    overflow:hidden;
    object-fit: cover;
    background-attachment: fixed;
}

header h1 {
    color: rgb(99, 91, 91);
    font-weight: 900;
    margin-left: 720px;
    margin-top: -100px;
}

header p {
    font-size: 20px;
    position: absolute;
    top: 250px;
    font-weight: 700;
    left: 705px;
    color: #000;
}

/*main*/

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #eee; */
  padding: 0 1.5rem;
}

.blog-post {
    width: 65%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgb(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post__img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post__img img {
    width: 100%;
    height: 100%;
}

.blog-post__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #b96ccccc,
                                          rgba(74, 152, 156, 0.8));
    box-shadow:  .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.blog-post__date span {
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post__text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgb(0,0,0,.7);
}

.blog-post__cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #b96ccccc 0%, #00f2fe 100%);
    border-radius: .8rem;
    text-decoration: none;
}
.recent_posts {
    position: absolute;
    width: 20%;
    top: 800px;
    left: 1100px;
    background-color: #fff;
    padding: 20px;
}

.recent_posts h2 {
    color: black;
}

.recent_info {
    margin-top: 20px;
    display: flex;
}

.recent_info img {
    object-fit: cover;
    width: 28%;
}

.recent {
    margin-left: 18px;
}

.blog-post__cta:hover {
    background-image: linear-gradient(to right, #b96ccccc 0%, #4facfe 100%);
}

@media screen and (max-width:1068px) {
    .blog-post{
        max-width: 80rem
    }

    .blog-post__img {
        min-width:30rem;
        min-height: 30rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post__img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}

/*Cursor*/

.cursor {
    z-index: 2;
    width: 20px;
    height: 20px;
    /* margin-left: 60px; */
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: 0.999px;
    left: 0.99px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}