body{
    margin: 0px;
    padding: 0px;
}

.man{
    height: 675px;
    width: 100%;
}
#x-top-bar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.buttons ul{
    display: flex;
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    
}
.buttons li a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.buttons :hover{
    transition: all .10s linear ;
    color: #ff305b;
}

#frist{
    position:relative;
    /* background-size: cover; */
    
    
}
#frist img{
    width: 100%;
    
}

.main{
    margin-top: 300px;
    position: absolute;
    top: -10px;
    left: 250px;
    color: white;
    
    
    
}
.writ{
    border:1px solid none;
    line-height: 34px;
    text-align: center;
    display: flex;
    justify-content: center;    
    margin: 10px;
    
    
}
.pro{
    font-size: 20px;
    font-weight: bold;
}

.bor{
    font-size: 30px;
}
.writ p{
    opacity: 0.7;
}
.box{
    margin-left: 30px;
    border: 1px solid white;
    padding: 7px 30px 6px 30px ;
    box-shadow: inset 0 0 0 0 #ff305b;
    transition: 1s all ease;
}
.box a{
    color: white;
    text-decoration: none;
    
}
/* .box ::before{
    background: #ff305b;
    content: "";
    width: 150px;
    height: 45px;
    
} */
.box :hover {
    box-shadow: inset 300 0 0 0 #ff305b ;
}
.box1{
    border: 1px solid #ff305b;
    padding: 7px 30px 6px 30px;
    text-decoration: none; 
}
.box1 :hover{
    box-shadow: inset 300 0 0 0 #ff305b ;
}
.box1 a{
    text-decoration: none;
    color: #ff305b;
}
/* .box1 :hover{ 
    transition: all .10s linear;
    background: #ff305b;
    color: white;
 } */
.bor {
    border-top: 2px solid #ff305b ;
    border-bottom: 2px solid #ff305b;
    font-weight: 700;
    font-family: "Roboto Condensed",sans-serif;
    font: 42px;
}
.close{
    width: 100%;
    margin-left: -8%;
}
.about{
    margin-top: 10px;
}
.cen{
    font-weight: 700;

}
.hello{
    color: #ff305b;
}
.prof{
    height: 70%;
}
.main2{
    padding: 50px;
    display: flex;
}
.grey{
  color:#878787;
}
.cen{
    text-align: center;
    margin-top: 80px;
    font-weight: 700px;
    font-size: 30px;
    font: 300px;
}
.ab h2{
    font-size: 18px;
    margin-top: 80px;
    font-weight: 700;
}
.ab p{
    margin-top: 30px;
}
.tab{
    margin-top: 50px;
    color: #696969;
}
td{
    border: 15px solid white;

}
.nov{
    display: flex;
   margin-left: -50px;
}
.nov li a{
    border: 1px solid black;
    color: black;
    padding: 5px;
    padding: 10px;
}

.nov li{
    list-style: none;
    margin-left: 20px;
    margin-top: 34px;
    
}
.ab1{
    margin-top: 100px;
    margin-left: 20px;
}
.ab1 a{
    border: 1px solid #ff305b;
    color: #ff305b;
    width: 30%;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

#third h2{
    text-align: center;
    margin-top: -18%;
    
}
.por ul{
    display: flex;
    justify-content: center;
    margin-top: 3%;
  
}
.por ul li{
    list-style: none;
    
}
.por ul li a{
    text-decoration: none;
    margin: 30px;
    color: black;
    text-transform: uppercase;
    font-size: 16px;

}
.por ul :hover{
    transition: all 10.s linear;
    color: #ff305b;
}
/* .porro{
    display: grid;
    padding: 50px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 500% 500% ;
    margin-left: 180px;
    gap: 30px
}
.poro{
    border: 1px solid black; */
/* ayirrrrrrrrrr */
/* width: 100px; */
/* height: 100px; */
    /* padding: 50px; */
    /* grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%; */
    /* grid-template-rows: ; */
/* } */
.porroo{
    height: 200px;
}
.porroo img{
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}
.porroo:hover img{
    filter: brightness(30%);
}
#fourth{
    background-color: #f7f7f7;;
}
#fourth h2{
    margin-top: 100px;
    margin-left: 670px;
}
.blo{
    border: 1px solid black;
    height: 350px;
    
}
.view{
    border: 1px solid black;
    width: 6%;
    height: 15px;
}
.blo{
    border: none;
    position: relative;
    
}
.time{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    padding: 4%;
    color:white ;
    background-color:#ff305b;
    opacity: .8;
    color: white;
    position: absolute;
    top: 270px;
    cursor: pointer;
}
.jan :hover{
    transition: all 10.s linear;
    color: #ff305b;
}
.blo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.h{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    margin-top: 7%;
}
.h h1{
    font-size: 25px;
    cursor: pointer;   
}
.h  :hover{
    transition: all 10.s linear;
    color: #ff305b;
}
.blo p{
    margin-top: 3%;
    color:#878787;
}
.bk{
    text-decoration: none;
    color: black;
}
.read :hover{
    transition: all 10.s linear;
    color: #ff305b;

}
/* .view{
  
  top: ;
}
.view h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
} */
#fifth{
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;;
}
/* #fifth h2{
    margin-top: 100px;
    
    
} */

/* }
.ico{
    margin-left: -70px;
    width: 100%;
    justify-content: space-around;
    display: flex;
     height: 1000px;
     margin-top: 60px;
     text-align: center;} */

/* .ico i{
    background-color: black;
    color: white;
    padding: 10%;     */
/* .i-1 h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%; */

/* .i-1 p{
    color:#878787; */

/* .i-1 p :hover{
    transition: all 10.s linear;
    color: #ff305b;
} */
.co1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.i-1 i{
     display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    width: 50px;
    padding: 5%;
    margin-left: 100px;
}
.i-1{
    margin-left: 80px;
    text-align: center;
    
}
.ss h3{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
    margin: 2%;
    font-size: 20px;
}
.col-4 input{
    width: 100%;
    margin: 6%;
    border-color:0px solid #e5e5e5;;
}
.send{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 1%;
    background-color:#ff305b;
    border:none;
    height: 40px;
}

#last{
    background-color: black;
    width: 100%;
    height: 250px;

}
.icons{
    display: flex;
    justify-content: center;
    margin: 5%;
    
}
.icons i{
    color: black;
    background-color: white;
    padding: 0.5%;
    margin: 0.4%;
}
.ss5{
    text-align: center;
    color: #878787;
}
.ssa{
    text-decoration: none;
    color:#ff305b ;
}
.e-1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2%;
    font-size: 20px;
    font-weight:700;
}
.subtitle{
    width: 46%;
    text-align: center;
    margin: auto;
    }
.subtitle p{
    color: #878787;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line {
    width: 3px;
    background: #878787;
    position: absolute;
    height: 420px;
    top: 5px;
    left: 500px;
    z-index: 4;
    opacity: 0.7;
    margin-top: 40px;
}
.card {
    height: 150px;
    position: relative;
    margin: 50px;

}
.cards {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.div-1{
    width: 50%;
    border: 1px solid black;
    height: 100%;
}

.div-1 h6{
    padding: 3% ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.year {
    background-color:#ff305b;
    display:flex;
    padding: 3%;
    color: white;       
}
.div-2{
    border: 1px solid black;
    height: 1050px;
    width: 50%;
    margin-left: 195px;
    
}
.p{
    margin: 0%;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.b{
    color: #5555;
}
.lor{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    margin: 0%;
    width: 50%;
}
#slider{
    /* width: 100%; */
    margin-top: 20%;
    height: 400px;
    background: rgb(0,0,0,0.7 ) url(/works/layihe2/images/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
       
}
/* #slider img{
    background: black;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-blend-mode: darken;
} */
.boxxx{
    text-align: center;
    overflow: hidden;
}
.boxx{
    text-align: center;
    width: 500px;
}
.boxxx p {    
    color: white;
}
.boxxx i{
    margin-top: 100px; 
    color: white;
    font-size: 30px;
}
.control{
    margin-left: 48%;
}
.control button{
    background: none;
}
