<ul class="list-group">
    <li *ngFor="let p of products" class="list-group-item">
        {{p.name}}
        <a [routerLink]="['/products',p.id]">Detay</a>
    </li>
</ul>

<p class="mt-4">
    <a class="btn btn-primary ml-2" routerLink="/products"{[queryParams]="page:1, order: 'bestselling'}" >New products</a>
    <a class="btn btn-primary ml-2" routerLink="/products"{[queryParams]="page:1, order: 'newest'}" >The best selling</a>
    <button (click)="loadProducts()" class="btn btn-primary">Relode Page</button>
</p>