body{
    background-color: black;
}
header img{
    cursor: pointer;
    margin-top: -5%;
    margin-left: 40%;
}
.menu-item{
    color: white;
    display: flex;
    justify-content: center;
}
.menu-item li{
    padding-right:6%;
    list-style: none;
}
.menu-item a{
    color: white;
    text-decoration: none;
    
}
.menu-item a i{
    margin-left: 5px;
    font-size: 70%;
}
.menu-item_options ul li{
    padding-top: 20%;
}
.menu-item_options2 h5 {
    margin-top: 20%;
    margin-bottom: 20%;
}
.menu-item_options2 ul li{
    padding-top: 10%;
}