body{
    /* background-color:; */
    margin: 0%;
    padding: 0%;
}

#questions{
    margin-top: 150px;
    /* margin-left: 45%; */
    text-align: center;
}
.choice-container{
    margin-top: 20px;
    margin-left: 46%;
    text-align: center;
    display: flex;
    margin-bottom: 0.8rem;
    width: 5%;
    border-radius: 4px;
    background-color: lightblue;
    font-size: 20px;
    min-width: 8rem;

}